.mainHeader{
    -fx-font: 4em "cursive" !important;
    -fx-padding: 2em;
}
.loginHeader{
    -fx-font: 6em "Serif" !important;
    -fx-padding: 2em;
}
.loginLabel{
    -fx-font: 3em "Sans-Serif";
}

.navButton{
    -fx-padding-left: 2em;
    -fx-padding: 2em;
}
